@charset "utf-8";

/* for creating purposes, not be included in the build */
/* * {
  border: 1px red dotted;
} */

html {
  box-sizing: border-box;
  padding: 0;
  /* margin: 2%;
  padding: 10px; */
  /* border: 3px green solid; */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: lightgray;
  line-height: 1.25em;
  /* min-height: 50vh; */
  /* border: 1em blue solid; */
  margin: 0;
  /* margin: 2.5%; */
  padding: 2%;
}

img {
  height: auto;
  /* max-height: 100%; */
}

img.avatar-large {
  border-radius: 30%;
  width: 75px;
  height: 75px;
  /* rotate: -10deg; */
}